#########################################################################################
#  XLXD config file
#
#  one line per entry
#  each entry specifies an option
#
#########################################################################################
# the reflector callsign - default N0CALL
callsign N0CALL

# listening IP address - default 0.0.0.0
listen 0.0.0.0

# AMBE transcoder IP address - default 127.0.0.1
transcoder 127.0.0.1