[Unit]
Description=AMBE Transcoder Daemon
After=network.target
Requires=network-online.target

[Service]
Type=notify
User=root
Group=root
ExecStartPre=-/sbin/rmmod ftdi_sio
ExecStartPre=-/sbin/rmmod usb_serial
ExecStart=/ambed/ambed 127.0.0.1
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
