[Unit]
Description=XLXD Multiprotocol Reflector
After=network.target ambed.service

[Service]
Type=forking
User=root
Group=root
EnvironmentFile=/etc/default/xlxd
ExecStart=/xlxd/xlxd ${REFLECTOR} ${BIND_IP} ${AMBED_IP}
ExecStartPost=/bin/sh -c 'umask 022; pgrep xlxd > /var/log/xlxd.pid'
Restart=on-abnormal
PIDFile=/var/log/xlxd.pid

[Install]
WantedBy=multi-user.target
